/* Create style css for main blocks */

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

html, body {
    height: 100%;
}

button, 
button:active, 
button:focus {
    outline: none;
}

.container {
    width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.sectionMainPromo {
    width: 100%; 
    height: 876px;
    background-color: #47d7d7;
    background-image: url("img/GirlImage1.png");
    background-repeat: no-repeat;
    background-position: 73%;
    position: static;
}

.sectionMainPromo2 {
    width: 100%; 
    height: 876px;
    background-color: #dd519f;
    background-image: url("img/GirlImage2.png");
    background-repeat: no-repeat;
    background-position: 73%;
    position: static;
}

.sectionMainPromo3 {
    width: 100%; 
    height: 876px;
    background-color: #47d7d7;
    background-image: url("img/GirlImage3.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: auto 100%;
    position: static;
}

.owl-dots {
    position: static;
    display: none;
}

/* Change nav menu style */

.menu {
    width: 77.5%;
    height: 93px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.22);
    background-color: #ffffff;
    margin: 0 auto;
    top: 4%;  /* 36px*/
    left: 11%; /*180px*/
    z-index: 999;
    position: absolute;
}

.menu.sticky {
    /* border-bottom: 1px solid #dadada; */
    /* width: 100%; */
    width: 100%;
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 999;
  }

.menuLogo {
    width: 14%;
    height: 57px;
    margin: 18px 6% 18px 3%;
    float: left;
    display: inline-block;
}

.menuItemsLink {
    display: inline-block;
    float: left;
    font-size: 0.813rem;
    line-height: 36px;;
    color: rgb(150,149,150);
    font-family: "Open Sans";
    font-weight: bold;
    margin: 29px 2.5% 0 0;
    text-transform: uppercase;
}

.menuItemsLink.active {
    color: black;
}

.menuItemsLink:hover {
    font-size: 0.813rem;
    line-height: 36px;
    color: rgb(246,158,0);
    font-family: "Open Sans";
    font-weight: bold;
    cursor: pointer;
}

.menuItemsPhone {
    font-size: 1.44rem;
    line-height: 36px;
    color: rgb(40,37,40);
    font-family: "Open Sans";
    font-weight: bold;
    margin-top: 29px;
    display: inline-block;
}

/* Change main promo screen style */

.mainPromo {
    position: absolute;
    z-index: 900;
}

.mainPromoTitle {
    margin: 278px 0 0 215px;
    display: inline-block;
    clear: both;
    font-size: 7.75rem;
    line-height: 92px;
    color: rgb(255,255,255);
    font-family: "Open Sans";
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    z-index: 900;
}

.mainPromoTitle p {
    font-size: 6.25rem;
    width: 500px;
    font-weight: 900;
    position: absolute;
    z-index: 900;
}

.mainPromoText {
    width: 577px;
    font-size: 1.75rem;
    color: rgb(255,255,255);
    font-family: "Open Sans";
    font-weight: bold;
    display: block;
    margin: 525px 0 0 215px;
    position: absolute;
    z-index: 900;
}

.mainPromoButton {
    margin: 595px 0 0 215px;
    width: 380px;
    height: 87px;
    border-radius: 38px;
    box-shadow: 0px 5px 0px #288624;
    background-color: #4db747;
    text-decoration: none;
    text-transform: uppercase;

    font-size: 1.5rem;
    line-height: 0px;
    color: rgb(255,255,255);
    font-family: "Open Sans";
    font-weight: 800;
    display: inline-block;
    position: absolute;
}

.mainPromoButton:hover {
    box-shadow: none;
    cursor: pointer;
}

.mainPromoButton:active {
    box-shadow: none;
    background-image: linear-gradient(180deg, #55dd49 0%, #3da139 100%);
    border: 1px solid ;
}

.arrowDown {
    margin: 800px 0 0 47%;
    display: inline-block;
    float: left;
    position: absolute;
    z-index: 900;
}

.social {
    margin: 800px 0 0 78.5%;
    position: absolute;
    z-index: 900;
}

.socialVk {
    width: 37px;
    height: 37px;
    display: inline-block;
    background-image: url("img/vk.png");
    margin-right: 2px;
    background-repeat: no-repeat;
}

.socialYoutube {
    width: 38px;
    height: 37px;
    display: inline-block;
    background-image: url("img/youtube.png");
    margin-right: 2px;
    background-repeat: no-repeat;
}

.socialInstagram {
    width: 38px;
    height: 38px;
    display: inline-block;
    background-image: url("img/instagram.png");
    background-repeat: no-repeat;
}

.socialVk:active {
    background-image: url("img/vkActive.png");
    cursor: pointer;
}

.socialYoutube:active {
    background-image: url("img/youtubeActive.png");
    cursor: pointer;
}

.socialInstagram:active {
    background-image: url("img/instagramActive.png");
    cursor: pointer;
}

.socialVk:hover, .socialYoutube:hover, .socialInstagram:hover {
    cursor: pointer;
}

/* Change Description screen style */

.sectionDescription {
    background-image: url("img/descriptionImage.png");
    height: 1450px;
    background-repeat: no-repeat;
    background-position: 40% 17%;
    max-width: 100%;  /*1600*/
}

.descriptionTitle {
    text-transform: uppercase;
    font-size: 1.75rem;
    line-height: 36px;
    color: rgb(40,37,40);
    font-family: "Open Sans";
    font-weight: bold;
    margin: 136px 0 0 33%;
    display: block;
    max-width: 100%; /*1600*/
}

.descriptionTitle::before,
.descriptionTitle::after {
    content: '';
    display: inline-block;
    position: relative;
    top: -1px;
    width: 3.75%;
    height: 1px;
    vertical-align: middle;
    background:#535b63;
    margin: 0 1.63%;
}

/* Change left column list of  description section */

.DescriptionItems {
    margin-top: 144px;
}

.itemDescr1Img {
    float: left; 
}

.itemDescr {
    margin-left: 8%;
    display: inline-block;
}

.itemDescr1Title {
    font-size: 1.375rem;
    line-height: 18px;
    color: rgb(40,37,40);
    font-family: "Open Sans";
    font-weight: bold;
    vertical-align: top;
    display: inline-block;
    margin: 0 0 25px 8%;
}

.itemDescr1Text {
    width: 269px;
    font-size: 1rem;
    line-height: 24px;
    color: rgb(40,37,40);
    font-family: "Open Sans";
    display: inline-block;
}

.itemDescr1SubText {
    width: 269px;
    font-size: 0.875rem;
    line-height: 20px;
    color: rgb(40,37,40);
    font-family: "Open Sans";
}

.itemDescr2Img {
    float: left; 
    margin-top: 54px;
}

.itemDescr2Title {
    font-size: 1.375rem;
    line-height: 18px;
    color: rgb(40,37,40);
    font-family: "Open Sans";
    font-weight: bold;
    vertical-align: top;
    display: inline-block;
    margin: 54px 0 25px 0;
}

.itemDescr2Text {
    width: 269px;
    font-size: 1rem;
    line-height: 24px;
    color: rgb(40,37,40);
    font-family: "Open Sans";
    display: inline-block;
    margin-left: 5%;
}

.itemDescr2Text li {
    list-style: disc;
}

.itemDescr3Img {
    float: left; 
    margin-top: 54px;
}

.itemDescr3Title {
    font-size: 1.375rem;
    line-height: 18px;
    color: rgb(40,37,40);
    font-family: "Open Sans";
    font-weight: bold;
    margin: 54px 0 25px 0;
}

.itemDescr3Text {
    width: 269px;
    font-size: 1rem;
    line-height: 24px;
    color: rgb(40,37,40);
    font-family: "Open Sans";
    display: inline-block;
}

.leftDescriptionLi {
    float: left;
    margin-left: 13%;
    display: inline-block;
}

/* Change right column list of  description section */

.rightDescriptionLi {
    display: inline-block;
    margin-left: 17%;
}

.itemDescr4Text {
    width: 269px;
    font-size: 1rem;
    line-height: 24px;
    color: rgb(40,37,40);
    font-family: "Open Sans";
    display: inline-block;
    margin-left: 15%;
}

/* Change section promo style */

.sectionPromo {
    max-width: 100%; /*1600*/
}

.sectionPromoTitle p {
    font-size: 3.563rem;
    line-height: 43px;
    color: rgb(40,37,40);
    font-family: "Open Sans";
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    margin: 160px 0 18px 35%;
}

.sectionPromoTitle span {
    font-size: 2.125rem;
    line-height: 43px;
    color: rgb(40,37,40);
    font-family: "Open Sans";
    font-weight: 900;
    text-align: center;
    margin-left: 40.5%;
}

.promoImgBlock {
    margin: 50px 0 0 21%;
    vertical-align: middle;
}

.promoImgBlock img {
    margin-right: 30px;
}

.promoImg2 {
    margin-bottom: 20px;
}

.arrow {
    margin: 0 0 70px 0;
}

.promoImgTitleBlock {
    margin: 30px 0 0 22%;
}

.promoImgTitleBlock p {
    float: left;
    margin: 0 100px 0 0;
    font-size: 1.5rem;
    color: rgb(33,33,33);
    font-family: "Open Sans";
    font-weight: bold;
}

.promoImgTitleBlock p:nth-child(2), p:nth-child(3) {
    margin-right: 160px;
}

/* Change carousel block style */

.sectionCarousel {
    width: 100%; /*1600*/
    height: 1150px;
    background-color: #f9f9f9;
}

.sectionCarouselTitle {
    text-transform: uppercase;
    padding-top: 100px;
    font-size: 3.563rem;
    line-height: 36px;
    color: rgb(40,37,40);
    font-family: "Open Sans";
    font-weight: 800;
    text-align: center;
}

.carouselQuotes {
    text-align: center;
    margin-top: 80px;
}

.sectionCarouselBlock {
    margin: 75px auto;
    width: 61%;
    height: 253px;
}

.slide {
    margin: 0 auto;
    display: none;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.carouselPhotoRodrigues {
    background-image: url("img/carousel/rodriguesPhoto.png");
    background-position: 50% 35%;
    width: 165px;
    height: 165px;
    border-radius: 82px;
    background-color: #f5f5f5;
    margin: 105px auto 0 auto;
    width: 171px;
    height: 171px;
    border-radius: 86px;
    background-color: #4db747;
    border: 3px solid #4db747;
}

.carouselPhotoAlena {
    background-image: url("img/carousel/alenaPhoto.png");
    background-position: 50% 35%;
    width: 165px;
    height: 165px;
    border-radius: 82px;
    background-color: #f5f5f5;
    margin: 105px auto 0 auto;
    width: 171px;
    height: 171px;
    border-radius: 86px;
    background-color: #4db747;
    border: 3px solid #4db747;
}

.carouselPhotoSemenihin {
    background-image: url("img/carousel/semenihinPhoto.png");
    background-position: 50% 10%;
    width: 165px;
    height: 165px;
    border-radius: 82px;
    background-color: #f5f5f5;
    margin: 105px auto 0 auto;
    width: 171px;
    height: 171px;
    border-radius: 86px;
    background-color: #4db747;
    border: 3px solid #4db747;
}

.carouselPhotoCzu {
    background-image: url("img/carousel/czuPhoto.png");
    background-position: 50% 35%;
    width: 165px;
    height: 165px;
    border-radius: 82px;
    background-color: #f5f5f5;
    margin: 105px auto 0 auto;
    width: 171px;
    height: 171px;
    border-radius: 86px;
    background-color: #4db747;
    border: 3px solid #4db747;
}

.carouselName {
    margin: 40px 0 34px 40%;
}

.carouselName2 {
    margin: 40px 0 34px 31%;
}

.carouselName3 {
    margin: 40px 0 34px 33%;
}

.carouselName4 {
    margin: 40px 0 34px 34%;
}

.carouselDots {
    text-align: center;
}

.carouselDot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.carouselDot:hover {
    border: 2px solid  #bbb;
}

.dotActive {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f9f9f9;;
    border: 2px solid #272527;
}

.prev, .next {
    background-color: #4f4f4f;
    position: absolute;
    margin-top: 80px;
}

.prev {
    margin-left: -7.18%;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-image: url("img/carousel/backArrow.png");
    background-repeat: no-repeat;
}

.next {
    margin-left: 65%;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-image: url("img/carousel/forwardArrow.png");
    background-repeat: no-repeat;
}

.prev:hover, .next:hover {
    cursor: pointer;
}


/* Change video section style */

.sectionVideo {
    width: 100%; /*1600*/
    height: 761px;
    background-color: #f7e513;
}

/* Change footer block style */

.footer {
    bottom: 0px;
    height: 340px;
}

.footerLogo {
    display: block;
    margin: 100px 0 0 13.5%;
}

.footerDescriptionText {
    margin: 40px 0 0 13.5%;
}

.footerDescription {
    display: inline-block;
    float: left;
}

.footerRights {
    text-align: center;
    margin: 200px 0 0 25%;
    display: inline-block;
    float: left;
}

.footerSocial {
    margin: 180px 0 0 13.5%;
    display: inline-block;
}

.footerSocial:hover {
    cursor: pointer;
}

.footerVk {
    background-image: url("img/footerVk.png");
    width: 65px;
    height: 65px;
    background-repeat: no-repeat;
    float: left;
}

.footerYoutube {
    background-image: url("img/footerYoutube.png");
    width: 65px;
    height: 65px;
    background-repeat: no-repeat;
    float: left;
}

.footerInstagram {
    background-image: url("img/footerInstagram.png");
    width: 65px;
    height: 65px;
    background-repeat: no-repeat;
    float: left;
}

.footerVk:active {
    background-image: url("img/footerVkAct.png");
}

.footerYoutube:active {
    background-image: url("img/footerYoutubeAct.png");
}

.footerInstagram:active {
    background-image: url("img/footerInstagramAct.png");
}


@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}


/* Change style for any devices */

@media (max-width: 1440px) {

    .menuItemsLink {
        font-size: 90%;
    }

    .menuItemsPhone {
        font-size: 90%;
    }
}

@media (max-width: 1024px) {
    * {
        font-size: 80%;
    }

    .menuItemsLink, .menuItemsPhone {
        font-size: 0.85rem;
    }

    .sectionDescription {
        background-image: url("img/descriptionImage.png");
        height: 1650px;
        background-position: 70% 12%;
        background-size: 50%;
        max-width: 100%;  /*1600*/
    }

    .descriptionTitle {
        margin: 100px 0 0 33%;
    }

    .DescriptionItems {
        margin-top: 100px;
    }

    .itemDescr {
        margin-left: 5%;
    }
    
    .itemDescr1Title {
        margin: 0 0 25px 5%;
    }

    .leftDescriptionLi {
        margin-left: 7%;
        float: left;
        display: inline-block;
    }

    .leftDescriptionLi li {
        width: 80%;
    }
    
    /* Change right column list of  description section */
    
    .rightDescriptionLi {
        margin-left: 7.5%;
    }

    .rightDescriptionLi li {
        width: 90%;
    }
    
    .itemDescr4Text {
        width: 100%;
    }

    .promoImgBlock {
        margin-left: 10%;
    }

    .promoImgTitleBlock {
        margin: 30px 0 0 13%;
    }
    
    .promoImgTitleBlock p {
        margin: 0 110px 0 0;
    }

    .promoImgTitleBlock p:nth-child(2), p:nth-child(3) {
        margin-right: 170px;
    }

    .carouselPhotoRodrigues {
        margin: 80px auto 0 auto;
    }

    .carouselPhotoAlena {
        margin: 80px auto 0 auto;
    }

    .carouselPhotoSemenihin {
        margin: 80px auto 0 auto;
    }

    .carouselPhotoCzu {
        margin: 80px auto 0 auto;
    }

    .carouselName {
        margin: 40px 0 34px 35%;
    }
    
    .carouselName2 {
        margin: 40px 0 34px 20%;
    }
    
    .carouselName3 {
        margin: 40px 0 34px 25%;
    }
    
    .carouselName4 {
        margin: 40px 0 34px 24%;
    }
}

@media (max-width: 768px) {
    * {
        font-size: 70%;
    }

    .mainPromoTitle {
        margin: 250px 0 0 30px;
        font-size: 6rem;
    }
    
    .mainPromoTitle p {
        font-size: 5.25rem;
        width: 350px;
    }
    
    .mainPromoText {
        margin: 475px 0 0 30px;
        width: 350px;
    }

    .mainPromoButton {
        width: 200px;
        height: 60px;
        margin: 595px 0 0 30px;
        font-size: 1rem;
    }

    .social {
        margin: 800px 0 0 65%;
    }
    
    .menu {
        display: none;
    }

    .sectionDescription {
        background-image: url("img/descriptionImage.png");
        height: 1600px;
        background-position: 90% 12%;
        background-size: 50%;
        max-width: 100%;  /*1600*/
    }

    .descriptionTitle {
        margin: 100px 0 0 33%;
    }

    .DescriptionItems {
        margin-top: 100px;
    }

    .itemDescr {
        margin-left: 5%;
    }
    
    .itemDescr1Title {
        margin: 0 0 25px 5%;
    }

    .leftDescriptionLi {
        margin-left: 7%;
    }

    .leftDescriptionLi li {
        width: 100%;
    }
    
    /* Change right column list of  description section */
    
    .rightDescriptionLi {
        margin: 54px 0 0 7%;
    }

    .rightDescriptionLi li {
        width: 100%;
    }
    
    .itemDescr4Text {
        width: 100%;
        clear: both;
    }

    .promoImgBlock {
        margin-left: 10%;
    }

    .promoImgBlock img {
        margin-right: 20px;
    }

    .promoImg {
        width: 40px;
    }

    .promoImg2 {
        margin-bottom: 10px;
    }

    .arrow {
        margin-bottom: 10px;
    }

    .promoImgTitleBlock {
        margin: 30px 0 50px 10%;
    }
    
    .promoImgTitleBlock p {
        margin: 0 60px 0 0;
        font-size: 70%;
    }

    .promoImgTitleBlock p:nth-child(2), p:nth-child(3) {
        margin-right: 75px;
    }

    .promoImgTitleBlock p:nth-child(4) {
        margin-right: 0;
    }






    .carouselPhotoRodrigues {
        margin: 80px auto 0 auto;
    }

    .carouselPhotoAlena {
        margin: 80px auto 0 auto;
    }

    .carouselPhotoSemenihin {
        margin: 80px auto 0 auto;
    }

    .carouselPhotoCzu {
        margin: 80px auto 0 auto;
    }

    .carouselName {
        margin: 40px 0 34px 30%;
    }
    
    .carouselName2 {
        margin: 40px 0 34px 12%;
    }
    
    .carouselName3 {
        margin: 40px 0 34px 15%;
    }
    
    .carouselName4 {
        margin: 40px 0 34px 15%;
    }

    .prev, .next {
        margin-top: 80px;
    }
    
    .prev {
        margin-left: -12%;
    }
    
    .next {
        margin-left: 65%;
    }

    .sectionCarousel {
        height: 1000px;
    }

    .footerRights {
        margin: 0 0 0 45%;
        clear: both;
    }
    
    .footerSocial {
        margin: 180px 0 0 10%;
        clear: both;
    }
}

@media (max-width: 425px) {

    * {
        font-size: 70%;
    }
    
    .menu {
        display: none;
    }

    .mainPromoTitle {
        margin: 250px 0 0 30px;
        font-size: 6rem;
    }
    
    .mainPromoTitle p {
        font-size: 5.25rem;
        width: 350px;
    }
    
    .mainPromoText {
        margin: 475px 0 0 30px;
        width: 350px;
    }

    .mainPromoButton {
        width: 200px;
        height: 60px;
        margin: 595px 0 0 30px;
    }

    .social {
        margin: 800px 0 0 65%;
    }

    .sectionDescription {
        background-position: 100% 12%;
        background-size: 50%;
        height: 120%;
        max-width: 100%;  /*1600*/
    }

    .descriptionTitle {
        margin: 100px 0 0 20%;
    }

    .DescriptionItems {
        margin-top: 100px;
    }

    .itemDescr {
        margin-left: 5%;
    }
    
    .itemDescr1Title {
        margin: 0 0 25px 5%;
    }

    .leftDescriptionLi {
        margin-left: 7%;
    }

    .leftDescriptionLi li {
        width: 100%;
    }
    
    /* Change right column list of  description section */
    
    .rightDescriptionLi {
        margin: 54px 0 0 7%;
    }

    .rightDescriptionLi li {
        width: 100%;
    }
    
    .itemDescr4Text {
        width: 100%;
        clear: both;
    }

    .sectionPromoTitle p {
        margin: 120px 0 18px 20%;
    }
    
    .sectionPromoTitle span {
        margin-left: 35%;
    }

    .promoImgBlock {
        margin-left: 10%;
    }

    .promoImgBlock img {
        margin-right: 20px;
    }

    .promoImg {
        width: 40px;
    }

    .promoImg2 {
        margin-bottom: 10px;
    }

    .arrow {
        margin-bottom: 10px;
    }

    .promoImgTitleBlock {
        margin: 30px 0 50px 10%;
    }
    
    .promoImgTitleBlock p {
        margin: 0 60px 0 0;
        font-size: 70%;
    }

    .promoImgTitleBlock p:nth-child(2), p:nth-child(3) {
        margin-right: 75px;
    }

    .promoImgTitleBlock p:nth-child(4) {
        margin-right: 0;
    }

    .sectionCarouselTitle {
        font-size: 2.563rem;
    }
    
    .carouselQuotes {
        text-align: center;
        margin-top: 40px;
    }
    
    .sectionCarouselBlock {
        margin: 50px auto;
        width: 78%;
        height: 253px;
    }

    .carouselPhotoRodrigues {
        margin: 60px auto 0 auto;
        width: 120px;
        height: 120px;
        border-radius: 82px;
        background-color: #4db747;
        border: 3px solid #4db747;
    }

    .carouselPhotoAlena {
        margin: 60px auto 0 auto;
        width: 120px;
        height: 120px;
        border-radius: 82px;
        background-color: #4db747;
        border: 3px solid #4db747;
    }

    .carouselPhotoSemenihin {
        margin: 60px auto 0 auto;
        width: 120px;
        height: 120px;
        border-radius: 82px;
        background-color: #4db747;
        border: 3px solid #4db747;
    }

    .carouselPhotoCzu {
        margin: 60px auto 0 auto;
        width: 120px;
        height: 120px;
        border-radius: 82px;
        background-color: #4db747;
        border: 3px solid #4db747;
    }

    .carouselName {
        margin: 40px 0 34px 30%;
        width: 120px;
    }
    
    .carouselName2 {
        margin: 40px 0 34px 10%;
        width: 260px;
    }
    
    .carouselName3 {
        margin: 40px 0 34px 10%;
        width: 240px;
    }
    
    .carouselName4 {
        margin: 40px 0 34px 16%;
        width: 200px;
    }

    .prev, .next {
        margin-top: 100px;
        width: 58px;
        height: 58px;
    }
    
    .prev {
        margin-left: -10%;
        background-image: url("img/carousel/backArrowSm.png");
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    
    .next {
        margin-left: 77%;
        background-image: url("img/carousel/forwardArrowSm.png");
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .sectionCarousel {
        height: 800px;
    }

    .footerRights {
        margin: 20px 0 0 45%;
        clear: both;
    }
    
    .footerSocial {
        margin: 80px 0 0 10%;
        clear: both;
    }
}

@media (max-width: 375px) {
    * {
        font-size: 70%;
    }
    
    .menu {
        display: none;
    }

    .mainPromoTitle {
        margin: 250px 0 0 30px;
        font-size: 6rem;
    }
    
    .mainPromoTitle p {
        font-size: 5.25rem;
        width: 350px;
    }
    
    .mainPromoText {
        margin: 475px 0 0 30px;
        width: 350px;
    }

    .mainPromoButton {
        width: 200px;
        height: 60px;
        margin: 595px 0 0 30px;
    }

    .social {
        margin: 800px 0 0 65%;
    }

    .sectionDescription {
        background-position: 100% 12%;
        background-size: 50%;
        height: 120%;
        max-width: 100%;  /*1600*/
    }

    .descriptionTitle {
        margin: 100px 0 0 20%;
    }

    .DescriptionItems {
        margin-top: 100px;
    }

    .itemDescr {
        margin-left: 5%;
    }
    
    .itemDescr1Title {
        margin: 0 0 25px 5%;
    }

    .leftDescriptionLi {
        margin-left: 7%;
    }

    .leftDescriptionLi li {
        width: 100%;
    }
    
    /* Change right column list of  description section */
    
    .rightDescriptionLi {
        margin: 54px 0 0 7%;
    }

    .rightDescriptionLi li {
        width: 100%;
    }
    
    .itemDescr4Text {
        width: 100%;
        clear: both;
    }

    .sectionPromoTitle p {
        margin: 120px 0 18px 20%;
    }
    
    .sectionPromoTitle span {
        margin-left: 35%;
    }

    .promoImgBlock {
        margin-left: 3%;
    }

    .promoImgBlock img {
        margin-right: 20px;
    }

    .promoImg {
        width: 30px;
    }

    .promoImg2 {
        margin-bottom: 10px;
    }

    .arrow {
        margin-bottom: 10px;
        width: 10px;
    }

    .promoImgTitleBlock {
        margin: 30px 0 50px 3%;
    }
    
    .promoImgTitleBlock p {
        margin: 0 40px 0 0;
        font-size: 70%;
    }

    .promoImgTitleBlock p:nth-child(2), p:nth-child(3) {
        margin-right: 55px;
    }

    .promoImgTitleBlock p:nth-child(4) {
        margin-right: 0;
    }

    .sectionCarouselTitle {
        font-size: 2.563rem;
    }
    
    .carouselQuotes {
        text-align: center;
        margin-top: 40px;
    }
    
    .sectionCarouselBlock {
        margin: 50px auto;
        width: 78%;
        height: 253px;
    }

    .carouselPhotoRodrigues {
        margin: 60px auto 0 auto;
        width: 120px;
        height: 120px;
        border-radius: 82px;
        background-color: #4db747;
        border: 3px solid #4db747;
    }

    .carouselPhotoAlena {
        margin: 60px auto 0 auto;
        width: 120px;
        height: 120px;
        border-radius: 82px;
        background-color: #4db747;
        border: 3px solid #4db747;
    }

    .carouselPhotoSemenihin {
        margin: 60px auto 0 auto;
        width: 120px;
        height: 120px;
        border-radius: 82px;
        background-color: #4db747;
        border: 3px solid #4db747;
    }

    .carouselPhotoCzu {
        margin: 60px auto 0 auto;
        width: 120px;
        height: 120px;
        border-radius: 82px;
        background-color: #4db747;
        border: 3px solid #4db747;
    }

    .carouselName {
        margin: 40px 0 34px 30%;
        width: 120px;
    }
    
    .carouselName2 {
        margin: 40px 0 34px 10%;
        width: 260px;
    }
    
    .carouselName3 {
        margin: 40px 0 34px 10%;
        width: 240px;
    }
    
    .carouselName4 {
        margin: 40px 0 34px 16%;
        width: 200px;
    }

    .prev, .next {
        margin-top: 100px;
        width: 58px;
        height: 58px;
    }
    
    .prev {
        margin-left: -10%;
        background-image: url("img/carousel/backArrowSm.png");
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    
    .next {
        margin-left: 77%;
        background-image: url("img/carousel/forwardArrowSm.png");
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .sectionCarousel {
        height: 800px;
    }

    .footerRights {
        margin: 20px 0 0 45%;
        clear: both;
    }
    
    .footerSocial {
        margin: 80px 0 0 10%;
        clear: both;
    }
}